
<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    <h3 class="formTitle">Edit Coupon</h3>
      <p>
        {{uuid}}
      </p>
      <form action="/admin/products/{{original_product_id}}?_method=PUT" method="post">

        <p>name: {{name}} </p>
        <input id="name" name="name" class="userFormItem" type="text"  value = "{{name}}" />
        <p class="formErrorReport" id="nameError"></p>

        <p>description: {{description}} </p>
        <input id="description" name="description" class="userFormItem" type="text" value = "{{description}}" />
        <p class="formErrorReport" id="descriptionError"></p>

        <p>discount: {{discount}} </p>
        <input id="password" name="discount" class="userFormItem" type="text"  value = "{{discount}}" />
        <p class="formErrorReport" id="sizeError"></p>

        <p>expires_on: {{expires_on}} </p>
        <input id="expires_on" name="expires_on" class="userFormItem" type="text" value = "{{expires_on}}" />
        <p class="formErrorReport" id="imgError"></p>

        <p>applies_to: {{applies_to}} </p>
        <input id="img" name="applies_to" class="userFormItem" type="text" value = "{{applies_to}}" />
        <p class="formErrorReport" id="imgError"></p>

        <input type="hidden" name="original_coupon" value="{{ original_coupon }}" />
        <button id="formSubmitter" class="unavailable submit" type="submit"> apply edits </button>
      </form>
      <form action="/admin/home" method="get">
        <button class="no" type="submit">home</button>
      </form>
  </div>
</div>
