<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    <h3 class="formTitle">manage your account information</h3>
    <p class="formTitle"><b>email: </b>{{ email }}</p>
    <p>{{ title }}</p>
    <form action="/accounts/{{email}}/contact" method="get">
      <button class="yes" type="submit">change contact information</button>
    </form>
    <form action="/accounts/{{email}}/password" method="get">
      <button class="yes"> change password </button>
    </form>
    <form action="/accounts/{{email}}/payment" method="get">
      <button class="yes" type="submit">manage payment information</button>
    </form>
    <form action="/accounts/{{email}}?_method=DELETE" method="post">
      <button class="no" type="submit"> delete account </button>
    </form>
    <form action="/home" method="get">
      <button class="no" type="submit">back</button>
    </form>
  </div>
</div>
{{!-- <script src="/behavior/genericChangeForm.js"></script> --}}
