<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    {{#if permission}}
    <h1>ADMIN UPDATE</h1>
    {{permission}}
    {{user_uuid}}
    {{phone}}
    {{email}}
    <form action="/admin/accounts/:{{user_uuid}}/contact?_method=PUT" method="post">
      <p><b>email: </b>{{ email }}</p>
      <input id="email" name="email" class="userFormItem" type="text" value= {{email}}>
      <p class="formErrorReport" id="emailError"></p>

      <p><b>phone: </b>{{ phone }}</p>
      <input id="phone" name="phone" class="userFormItem numericOnly" type="text" value= {{phone}}>
      <p class="formErrorReport" id="phoneError"></p>
      <input type="hidden" name="user_uuid" value="{{user_uuid}}" />
      <p class="formErrorReport" id="awakeError"></p>
      <button id="formSubmitter" class="submit" type="submit"> change </button>
    </form>

    {{else}}

    <form action="/accounts/:{{email}}/contact?_method=PUT" method="post">
      <p><b>email: </b>{{ email }}</p>
      <input id="email" name="email" class="userFormItem" type="text" value= {{email}}>
      <p class="formErrorReport" id="emailError"></p>

      <p><b>phone: </b>{{ phone }}</p>
      <input id="phone" name="phone" class="userFormItem numericOnly" type="text" value= {{phone}}>
      <p class="formErrorReport" id="phoneError"></p>
      <input type="hidden" name="prevTitle" value="{{title}}" />
      <p class="formErrorReport" id="awakeError"></p>
      <button id="formSubmitter" class="submit" type="submit"> change </button>
    </form>

    {{/if}}

  </div>
</div>
