<div class="flex pageWrapper">
  <div class="flex column userWrapper">
   <h3 class="formTitle">Account information</h3>
   <p>
     {{ subtitle }}
   </p>
     <p>email</p>
     {{#if emailChange}}
       <form action="/change-email" method="post">
         <input
          id="email"
          name="email"
          class="userFormItem"
          type="text"
          placeholder="email"/>
         <p class="formErrorReport" id="emailError"></p>
         <button class="yes" method="submit"> submit </button>
       </form>
       <form action='/to-account-info' method="post">
          <button class="no">nevermind</button>
       </form>

     {{ else }}
       <p class="preInputMimic">{{ email }}</p>
       <form action="/to-change-email" method="get">
         <button class="yes" type="submit"> change </button>
       </form>
     {{/if}}

     <p>phone #</p>
       {{#if phoneChange}}
         <form action="/change-phone" method="post">
           <input
            id="phone"
            name="phone"
            class="userFormItem"
            type="text"
            placeholder="phone"/>
           <p class="formErrorReport" id="phoneError"></p>
           <button class="yes" method="submit"> submit </button>
         </form>
         <form action='/to-account-info' method="post">
            <button class="no">nevermind</button>
         </form>

       {{ else }}
         <p class="preInputMimic">{{ phone }}</p>
         <form action="/to-change-phone" method="get">
           <button class="yes" type="submit"> change </button>
         </form>
       {{/if}}


     <p>password</p>
     {{#if passwordChange}}
     <form action="/change-password" method="post">
       <input
        id="changePassword"
        name="changePassword"
        class="userFormItem"
        type="password"
        placeholder="type in new password"/>
       <p class="formErrorReport" id="changePasswordError"></p>
       <button class="yes" method="submit"> submit </button>
     </form>
     <form action='/to-account-info' method="post">
        <button class="no">nevermind</button>
     </form>
     {{ else }}
      {{# if mailSent }}
       <form action="/recieveToken" method="post">
         <input
          id="tokenReciever"
          name="tokenReciever"
          class="userFormItem"
          type="text"
          placeholder="paste token here"/>
         <button class="yes"> authorize </button>
       </form>
       {{ else }}
       <form action="/mailer" method="post">
         <input
          id="passwordReset"
          name="passwordReset"
          class="userFormItem"
          type="text"
          placeholder="put your email here"/>
         <button class="yes"> change </button>
       </form>
       {{/if}}
     {{/if}}
     <form action='/delete' method="post">
        <button action='submit' class="no"> delete account </button>
     </form>
     <form action='/back-account-actions' method="get">
        <button action='submit' class="no"> back </button>
     </form>
     <p class="formErrorReport">{{ dbError }}</p>
  </div>
 </div>
