<div class="column categoryWrapper">
  <div class="row categoryTitle">
    <h4>{{title}}</h4>
    <div class="time-wrapper flex space-around ">
      <p class="self right awakeTime">
        {{awake}}
      </p>
      <img src="https://png.icons8.com/ios/540/alarm-clock.png" />
    </div>
  </div>
  <div class="box subCategoryWrapper none">
    <div class="row subCategoryTitle">
      <form action="/accounts/{{user_uuid}}/alarms" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/Media_Controls//high_volume1600.png">
      </form>
      {{#if active}}
        <p>
          on
        </p>
      {{else}}
        <p>
          off
        </p>
      {{/if}}
      {{#if permission}}
      <h1>A.V.</h1>
      <form action="/admin/accounts/:{{user_uuid}}/alarms/:{{alarm_uuid}}" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
          <input name="user_uuid" type="hidden" value="{{ user_uuid }}">
      </form>
      <form action="/admin/accounts/:{{user_uuid}}/alarms/:{{alarm_uuid}}?_method=DELETE" method="post">
          <input type="image" width="20px" height="20px" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
          <input name="user_uuid" type="hidden" value="{{ user_uuid }}">
      </form>
      {{else}}
      <form action="/accounts/{{user_uuid}}/alarms/{{title}}" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="title" type="hidden" value="{{ title }}">
      </form>
      <form action="/accounts/{{user_uuid}}/alarms/{{title}}?_method=DELETE" method="post">
          <input type="image" width="20px" height="20px" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="title" type="hidden" value="{{ title }}">
      </form>
      {{/if}}

    </div>
    <div class="row date-created">
      <p class="thedate">
        {{thedate}}
      </p>
    </div>
  </div>
</div>
