<div class="column categoryWrapper">
  <div class="row categoryTitle">
    <h4>{{ name }}</h4>
    <div class="time-wrapper flex space-around ">
      <p class="self right awakeTime">
        {{ price }}
      </p>
      <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Shopping-Cart-icon.png" />
    </div>
  </div>
  <div class="box subCategoryWrapper none">
    <div class="row subCategoryTitle">
      <p>
        size: {{ size }}
      </p>
      <p>
        item sub total: {{ quantity }}
      </p>
      <form action="/accounts/{{ cart_uuid }}/cart/{{ product_id }}" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="product_id" type="hidden" value="{{ product_id }}">
      </form>
      <form action="/accounts/{{ cart_uuid }}/cart/{{ product_id }}?_method=DELETE" method="post">
          <input type="image" width="20px" height="20px" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="product_id" type="hidden" value="{{ product_id }}">
      </form>
    </div>
    <div class="row date-created">
      <p class="thedate">
        {{ updated_timestamp }}
      </p>
    </div>
  </div>
</div>
