<div class="flex column" id = '{{frontEndID}}'>
	<div class="flex product-name-price-wrapper">
		<h3 class="product-title">{{ name }}</h3>
		<p class = "small">{{ cause }}</p>
	</div>

	<div class="flex description-img-wrapper">
    <div class="flex column">
      <p class="description-text">{{ description }}</p>
      <a href={{link}}>link to the website</a>
    </div>

		<div class = "organization-img">
			<img src = "/product-pictures/{{ image }}" />
		</div>
	</div>
	<div class="flex product-action-wrapper">
		{{#if active}}
			<form class="flex product-cart-form">
				<button class = 'unavailable' disabled>set as default</button>
			</form>
			<p class = 'button-titles mini'>
	      Already set as default
	    </p>
		{{else}}
			<form class="flex product-cart-form" action="/accounts/{{email}}/organizations/{{org_uuid}}?_method=PUT" method="post">
				<input type="hidden" name="org_uuid" value="{{ org_uuid }}" />
				<button class = 'yes'>set as default</button>
			</form>
		{{/if}}
		<form class="flex product-cart-form" action="/accounts/{{email}}/organizations/{{org_uuid}}?_method=DELETE" method="post">
				<input type="hidden" name="org_uuid" value="{{ org_uuid }}" />
				<button class="yes">remove from my orgs</button>
		</form>
	</div>
</div>
