<h1>Monthly Stats</h1>
<p>You had:</p>
<ul>
  <li>
    {{snoozes}} snoozes, at ${{snoozePrice}} per snooze.
  </li>
  <li>
    {{dismisses}} dismisses, at ${{dismissPrice}} per dismiss.
  </li>
  <li>
    {{wakes}} wakes, at ${{wakePrice}} per wake.
  </li>
</ul>

<h1>Payments</h1>
<p>
  You paid: ${{total}} to {{organization}}!
</p>
