<div class="flex pageWrapper">
  <div class="flex column userWrapper">
   <h3 class="formTitle">password reset</h3>
   {{# if success}}


     <form action="/accounts/{{email}}" method="get">

       <p>password</p>
       <p class="inputMimic"> success </p>

       <button class="yes" type="submit"> back </button>
     </form>


   {{ else if forgotPassword }} <!-- forgot password version -->


   <form action="/forgot-password/authorized?_method=PUT" method="post">

     <p>password</p>
     <input
      id="password"
      name="password"
      class="userFormItem"
      type="password"
      placeholder=""
      />
     <p class="formErrorReport" id="passwordError"></p>

     <p>confirm password</p>
     <input
      id="confirmPassword"
      name="confirmPassword"
      class="userFormItem"
      type="password"
      placeholder=""
      />
     <p class="formErrorReport" id="confirmPasswordError"></p>
       <button id="formSubmitter" class="unavailable submit" type="submit"> submit password </button>
    </form>


   {{ else }} <!-- change password from authorized account -->


     <form action="/accounts/{{email}}/password" method="post">
       <p>old password</p>
       <input
        id="oldPassword"
        name="oldPassword"
        class="userFormItem"
        type="password"
        placeholder=""
        />
       <p class="formErrorReport" id="old-passwordError"></p>

       <p>password</p>
       <input
        id="password"
        name="password"
        class="userFormItem"
        type="password"
        placeholder=""
        />
       <p class="formErrorReport" id="passwordError"></p>

       <p>confirm password</p>
       <input
        id="confirmPassword"
        name="confirmPassword"
        class="userFormItem"
        type="password"
        placeholder=""
        />
       <p class="formErrorReport" id="confirmPasswordError"></p>
         <button id="formSubmitter" class="unavailable submit" type="submit"> change password </button>
      </form>
     {{/if}}


   <p class="formErrorReport">{{ dbError }}</p>
  </div>
 </div>
 {{!-- <script src="/behavior/genericChangeForm.js"></script> --}}
