<div class="full-page">
  <div class="flex column add-alarm-form">
    <h3 class="formTitle">edit alarm</h3>
    {{#if permission}}
      <h1>ADMIN UPDATE</h1>
      <form action="/admin/accounts/{{user_uuid}}/alarms/:{{alarm_uuid}}?_method=PUT" method="post">
        <p><b>title: </b>{{ title }}</p>
        <input
         id="title"
         name="title"
         class="userFormItem"
         type="text"
         value= "{{ title }}"
         placeholder="work week"
         />
        <p class="formErrorReport" id="titleError"></p>

        <p><b>time: </b>{{ time }}</p>
        <input
         id="time"
         name="time"
         class="userFormItem"
         type="text"
         value= "{{ time }}"
         placeholder="06:00"
         />
         <p><b>active:
         </b>
         {{#if active}}
            currently on<br/>
            <input type="radio" name="active" value='f'>turn off<br/>
         {{else}}
            curently off<br/>
            <input type="radio" name="active" value='t'>turn on<br/>
         {{/if}}
        </p>
        <input type="hidden" name="alarm_uuid" value="{{ alarm_uuid }}" />
        <input type="hidden" name="user_uuid" value="{{ user_uuid }}" />
        <p class="formErrorReport" id="timeError"></p>
       <button id="formSubmitter" class="unavailable submit" type="submit"> change </button>
     </form>

    {{else}}

      <form action="/accounts/:email/alarms/:{{title}}?_method=PUT" method="post">
        <p><b>title: </b>{{ title }}</p>
        <input
         id="title"
         name="title"
         class="userFormItem"
         type="text"
         value= "{{ title }}"
         placeholder="work week"
         />
        <p class="formErrorReport" id="titleError"></p>

        <p><b>time: </b>{{ time }}</p>
        <input
         id="time"
         name="time"
         class="userFormItem"
         type="text"
         value= "{{ time }}"
         placeholder="06:00"
         />
         <p><b>active:
         </b>
         {{#if active}}
            currently on<br/>
            <input type="radio" name="active" value='t' checked>keep on<br/>
            <input type="radio" name="active" value='f'>turn off<br/>

         {{else}}
            curently off<br/>
            <input type="radio" name="active" value='t'>turn on<br/>
            <input type="radio" name="active" value='f' checked>keep off<br/>
         {{/if}}

        </p>
        <input type="hidden" name="prevTitle" value="{{ title }}" />
        <p class="formErrorReport" id="timeError"></p>
       <button id="formSubmitter" class="unavailable submit" type="submit"> change </button>
     </form>

    {{/if}}
       <form action="/accounts/{email}/alarms" method="get">
     <button class="no" type="submit">back</button>
   </form>
   {{ dbError }}
  </div>
</div>
{{!-- <script src="/behavior/alarm-action.js"></script> --}}
