
<div class="full-page">
  <h1>Cart</h1>
  <p>
    This is where you can view, remove and edit your cart items. You can also make an order here.
  </p>

  <div class= "categoryListWrapper">
    {{#each cartContent}}
      {{> cartdiv}}
    {{/each}}
  </div>
  <p>
    items: {{ totalItems }}
  </p>
  <p>
    total cost: ${{ totalCost }}
  </p>
  <div class = 'last-four-wrapper'>
    <p>
      Payment Method: credit card ending in <b>{{ lastFour }}</b>
    </p>
    <form action="/accounts/{{email}}/payment-select" method="get">
      <button class="no long-fixed" type="submit">select another card</button>
    </form>
  </div>
  <div class = 'last-four-wrapper'>
    <p>
      Choose which coupons to add.
    </p>
    <form action="/accounts/{{email}}/coupons" method="get">
      <button class="no long-fixed" type="submit">coupons</button>
    </form>
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/accounts/{{email}}/orders" method="post">
    <input type="hidden" value='{{card_number}}' name='card_number' />
    <button class="yes">purchase </button>
  </form>
  <form action="/products" method="get">
    <button class="no " type="submit"> back to shopping </button>
  </form>
</div>
<script src="/behavior/alarm-display.js"></script>
