<div class="full-page">
  <div class="flex column add-alarm-form">
    <h3 class="formTitle">change amount</h3>
    <form action="/accounts/{{uuid}}/cart/:{{ product_id }}?_method=PUT" method="post">
      <p><b>product </b>{{ name }}</p>
      <p><b>quantity </b>{{ quantity }}</p>
      <input id="quantity" name="quantity" class="userFormItem" type="text" value= {{ quantity }} placeholder="quantity" />
      <p class="formErrorReport" id="titleError"></p>

      <input type="hidden" name="product_id" value="{{ product_id }}" />
      <p class="formErrorReport" id="awakeError"></p>
      <button id="formSubmitter" class="unavailable submit" type="submit"> update </button>
    </form>
    <form action="/accounts/{{ email }}/cart" method="get">
      <button class="no" type="submit">back</button>
    </form>
    {{ dbError }}
  </div>
</div>
{{!-- <script src="/behavior/alarm-action.js"></script> --}}
