//////////////
////////////// VARIABLES UNCHANGED
//////////////



<div class="flex pageWrapper">
  <div class="flex column userWrapper">
    <h3 class="formTitle">Edit Product</h3>
      {{original_product_id}}
      <form action="/admin/products/{{original_product_id}}?_method=PUT" method="post">
        <p>product_id: {{product_id}} </p>
        <input id="product_id" name="product_id" class="userFormItem" type="text"  value= "{{product_id}}" />
        <p class="formErrorReport" id="product_idError"></p>

        <p>universal_id: {{universal_id}} </p>
        <input id="universal_id" name="universal_id" class="userFormItem numericOnly" type="text"  value= "{{universal_id}}" />
        <p class="formErrorReport" id="universal_idError"></p>

        <p>price: {{price}} </p>
        <input id="password" name="price" class="userFormItem" type="text"  value = "{{price}}" />
        <p class="formErrorReport" id="priceError"></p>

        <p>name: {{name}} </p>
        <input id="name" name="name" class="userFormItem" type="text"  value = "{{name}}" />
        <p class="formErrorReport" id="nameError"></p>

        <p>description: {{description}} </p>
        <input id="description" name="description" class="userFormItem" type="text" value = "{{description}}" />
        <p class="formErrorReport" id="descriptionError"></p>

        <p>size: {{size}} </p>
        <input id="password" name="size" class="userFormItem" type="text"  value = "{{size}}" />
        <p class="formErrorReport" id="sizeError"></p>

        <p>img: {{img}} </p>
        <input id="img" name="img" class="userFormItem" type="text" value = "{{img}}" />
        <p class="formErrorReport" id="imgError"></p>

        <input type="hidden" name="original_product_id" value="{{ original_product_id }}" />
        <button id="formSubmitter" class="unavailable submit" type="submit"> edit product </button>
      </form>
      <form action="/admin/home" method="get">
        <button class="no" type="submit">home</button>
      </form>
  </div>
</div>
